.wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 4%;
}
h1 {
  padding: 0 0 15px;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 2px #111;
  @media screen and (max-width: 576px) {
    font-size: 2.6rem;
  }
}
